/* Codul tau CSS aici */

button {
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
}

.info {
    background-color: goldenrod;
}

button:hover {
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3);
}

ul li {
    list-style: none;
}

.right {
    color: green;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}